<a href="https://colab.research.google.com/github/skbhere/OSIC-Pulmonary-Fibrosis-Progression/blob/master/OSIC%20Pulmonary%20Fibrosis%20Progression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OSIC Pulmonary Fibrosis Progression**

In [1]:
import pandas as pd 
import numpy as np

In [17]:
train = pd.read_csv("train.csv")

In [18]:
train

                        Patient  Weeks   FVC  ...  Age   Sex SmokingStatus
0     ID00007637202177411956430     -4  2315  ...   79  Male     Ex-smoker
1     ID00007637202177411956430      5  2214  ...   79  Male     Ex-smoker
2     ID00007637202177411956430      7  2061  ...   79  Male     Ex-smoker
3     ID00007637202177411956430      9  2144  ...   79  Male     Ex-smoker
4     ID00007637202177411956430     11  2069  ...   79  Male     Ex-smoker
...                         ...    ...   ...  ...  ...   ...           ...
1544  ID00426637202313170790466     13  2712  ...   73  Male  Never smoked
1545  ID00426637202313170790466     19  2978  ...   73  Male  Never smoked
1546  ID00426637202313170790466     31  2908  ...   73  Male  Never smoked
1547  ID00426637202313170790466     43  2975  ...   73  Male  Never smoked
1548  ID00426637202313170790466     59  2774  ...   73  Male  Never smoked

[1549 rows x 7 columns]